<!-- Componente NavBar -->

<div class="container btn-group-vertical mt-2">
    <ul class="btn_home d-lg-flex gap-4">
        <li><a href="/" class="link_home btn btn-primary mb-1">Home</a></li>
        <li><a href="#" class="link_home btn btn-primary mb-1">Login</a></li>
        <li><a href="/cadastro" class="link_home btn btn-primary mb-1">Cadastre-se</a></li>
        <li><a href="/lista_de_usuarios" class="link_home btn btn-primary mb-1">Usuários</a></li>
    </ul>
</div>
<hr>